.secondSection {
  padding-top: 56px;
  position: relative;

  //tab
  ul {
    position: absolute;
    top: 0;
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #e36c3f;

    //fix the tab part when u scroll to the top
    &.isFixed {
      position: fixed;
    }

    li {
      position: relative;
      color: white;
      list-style: none;

      //line under the tab title
      .line {
        position: absolute;
        left: 50%;
        bottom: -8px;
        transform: translateX(-50%);
        width: 100%;
        height: 4px;
        background: green;
        opacity: 0;
        transition: opacity .3s;

        &.visible {
          opacity: 1;
        }
      }
    }
  }

  //tab content
  section {
    //when u click the tab title, it the tab will not cover the section name, by setting scroll-margin
    scroll-margin: 56px;
    padding: 16px;

    h2 {
      color: white;
    }

    img {
      width: 100%;
      margin-top: 16px;
      border-radius: 6px;
    }
  }
}